<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>FindRouteController</servlet-name>
        <servlet-class>controller.FindRouteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLocationController</servlet-name>
        <servlet-class>controller.ListLocationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RouteSortList</servlet-name>
        <servlet-class>controller.RouteSortList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSeat</servlet-name>
        <servlet-class>controller.ListSeat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>controller.OrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassServlet</servlet-name>
        <servlet-class>controller.ForgotPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCarController</servlet-name>
        <servlet-class>controller.ListCarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCRUD_Delete</servlet-name>
        <servlet-class>controller.adminCRUD_Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>orderDetailInformation</servlet-name>
        <servlet-class>controller.orderDetailInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>historyController</servlet-name>
        <servlet-class>controller.historyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminCRUD_Search</servlet-name>
        <servlet-class>controller.adminCRUD_Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admin_chart</servlet-name>
        <servlet-class>controller.admin_chart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PopularRouteController</servlet-name>
        <servlet-class>controller.PopularRouteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FindRouteController</servlet-name>
        <url-pattern>/findroute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLocationController</servlet-name>
        <url-pattern>/listlocation</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RouteSortList</servlet-name>
        <url-pattern>/rsortlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSeat</servlet-name>
        <url-pattern>/listseat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/order</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassServlet</servlet-name>
        <url-pattern>/forgotpass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCarController</servlet-name>
        <url-pattern>/listcar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCRUD_Delete</servlet-name>
        <url-pattern>/admindelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>orderDetailInformation</servlet-name>
        <url-pattern>/orderdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>historyController</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminCRUD_Search</servlet-name>
        <url-pattern>/adminsearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admin_chart</servlet-name>
        <url-pattern>/chart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PopularRouteController</servlet-name>
        <url-pattern>/popularroute</url-pattern>
    </servlet-mapping>
</web-app>
